<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Assign an admin</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/add}">
    <label for="thisPerson">Select person:</label>
    <select id="thisPerson" th:object="${person}" th:field="*{id}">
        <option th:each="person: ${people}" th:value="${person.getId()}"
        th:text="${person.getName()}"></option>
    </select>

    <input type="submit" value="Assign"/>
</form>

</body>
</html>